/*переменные*/
:root {
    --main-font: "Gilroy", sans-serif;
    --accent-font: "Tavolga", sans-serif;

    --main-text-color: #331907;
    --light-text-color: #ffffff;

    --ui-elements-color: #770b1d;
    --ui-light-elements-color: #eba8b1;

    --bg-dark-color: #eba8b1;
    --bg-light-color: #ffefef;
    --bg-footer-color: #c0707c;

    --hover-transition: all 0.3s ease;
}

/* .. переменные*/

/*общие настройки*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 400;

    color: var(--main-text-color);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    font-size: 18px;
    font-family: var(--main-font);
    color: var(--light-text-color);
    font-weight: 700;
    line-height: 1;
    border-radius: 30px;
    padding: 20px 25px;

    transition: var(--hover-transition);

    background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);

    -moz-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
    -webkit-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
    -ms-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
}

.btn:hover {
    box-shadow: 0px 5px 9px 1px rgba(130, 19, 40, 0.5);
}

/*цвета фона экранов*/
header.header, section.products {
    background-color: var(--bg-dark-color);
}

section.about, section.order {
    background-color: var(--bg-light-color);
}

/*.. цвета фона экранов*/

section.about, section.products {
    padding: 120px 0;
}

/*блок контента в секции*/
.main-content {
    display: flex;
    justify-content: center;
}

.main-content__title {
    font-size: 45px;
    font-family: var(--accent-font);
}

.main-content__desc {
    font-size: 18px;
    line-height: 1.556;
}

/*.. блок контента в секции*/

ul.block__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
ul li.block__item {
    max-width: 263px;
}

ul li .block__order {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li .block__info {
    text-align: left;
}

ul li p.quantity {
    margin-bottom: 16px;
}

ul li .block__btn {
    width: 130px;
    height: 50px;
    font-size: 16px;
    padding: 17px;
}

footer.footer {
    background-color: var(--bg-footer-color);
}

/* .. общие настройки*/

/* === <!--первый экран--> === */
header.header {
    padding-bottom: 108px;
    color: var(--light-text-color);
}

/*<!--шапка сайта-->*/
header .topline {
    padding: 36px 0 30px 0;
}

/*навигация по сайту*/
nav.nav {
    margin-right: 220px;
}

ul.nav__list {
    column-gap: 40px;
}

ul.nav__list li.nav__item a {
    font-size: 14px;
    font-weight: 500;
    color: var(--ui-elements-color);
}

ul.nav__list li.nav__item a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    margin-top: 1px;
    background-color: var(--ui-elements-color);

    transition: var(--hover-transition);
}

ul.nav__list li.nav__item a:hover {
    text-shadow: 0.5px 0 0.5px var(--ui-elements-color);
}

ul.nav__list li.nav__item a:hover:after {
    width: 100%;
}

/* .. навигация по сайту*/

.phone .phone__link {
    font-size: 16px;
    color: var(--light-text-color);
    font-weight: 700;

    transition: var(--hover-transition);
}

.phone .phone__link:hover {
    text-shadow: 0.5px 0 0.5px var(--light-text-color);
}

/*основной контент секции хедер*/
header .header-content {
    font-family: var(--accent-font);
    margin-top: 126px;
    align-items: flex-start;
}

header .header-content__offer {
    max-width: 585px;
}

header .header-content__title {
    font-size: 55px;
    line-height: 1.091;
    margin-bottom: 60px;
}

header .header-content__desc {
    max-width: 350px;
    font-size: 18px;
    line-height: 1.389;
    margin-bottom: 80px;
}

header .header-content__btn {
    width: 240px;
    height: 60px;
}

/* .. основной контент секции хедер*/
/* .. <!--шапка сайта-->*/
/* .. === <!--первый экран--> ===*/

/* === <!--секция "о нас"--> ===*/
.about .about-content__offer {
    max-width: 475px;
}
.about .about-content {
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 88px;
}

.about .about-content__title {
    line-height: 1.222;
    margin-bottom: 60px;
}

.about .about-content__desc {
    max-width: 400px;
}

ul li .block__digit {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--ui-elements-color);
    font-size: 60px;
    font-weight: 800;
    color: var(--light-text-color);
    text-align: center;
    line-height: 99px;
    margin-bottom: 14px;

    transition: var(--hover-transition);
}

ul li .block__digit:hover {
    background-color: var(--ui-light-elements-color);
    color: var(--ui-elements-color);
}

ul li .about-block__title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 19px;
}
ul li .about-block__desc {
    width: 220px;
    font-weight: 500;
    line-height: 1.333;
}
/* .. === <!--секция "о нас"--> ===*/

/* === <!--секция "пироженки"--> ===*/
h2.products__title {
    color: var(--light-text-color);
    text-align: center;
    margin-bottom: 87px;
}
ul li.products-block__item {
    width: 263px;
    border: 2px solid var(--light-text-color);
    border-radius: 20px;
    padding: 109px 20px 27px 20px;
    position: relative;
    text-align: center;
    color: var(--light-text-color);
}

ul li.products-block__item:hover  .products-block__image img {
    transform: scale(1.1);
}
ul li .products-block__image {
    width: 192px;
    height: 124px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30%;
}
ul li .products-block__image img {
    position: absolute;
    bottom: 0;
    left: 4px;
    transition: var(--hover-transition);
}

ul li .products-block__title {
    font-size: 18px;
    font-family: var(--accent-font);
    text-align: center;
    line-height: 1;
    margin-bottom: 26px;
}
/* .. === <!--секция "пироженки"--> ===*/











