/*переменные*/
:root {
    --main-font: "Gilroy", sans-serif;
    --accent-font: "Tavolga", sans-serif;

    --main-text-color: #331907;
    --light-text-color: #ffffff;

    --ui-elements-color: #770b1d;
    --ui-light-elements-color: #eba8b1;

    --bg-dark-color: #eba8b1;
    --bg-light-color: #ffefef;
    --bg-footer-color: #c0707c;

    --hover-transition: all 0.3s ease;
}
/* .. переменные*/

/*общие настройки*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 400;

    color: var(--main-text-color);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    font-size: 18px;
    font-family: var(--main-font);
    color: var(--light-text-color);
    font-weight: 700;
    line-height: 1;
    border-radius: 30px;
    padding: 20px 25px;

    transition: var(--hover-transition);

    background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);

    -moz-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
    -webkit-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
    -ms-transform: matrix(1.00011967125209, 0, 0, 1.00072983989549, 0, 0);
}

.btn:hover {
    box-shadow: 0px 5px 9px 1px rgba(130, 19, 40, 0.5);
}

/*цвета фона экранов*/
header.header, section.products {
    background-color: var(--bg-dark-color);
}

section.about, section.order {
    background-color: var(--bg-light-color);
}

/*.. цвета фона экранов*/

section.about, section.products {
    padding: 120px 0;
}

/*блок контента в секции*/
.main-content {
    display: flex;
    justify-content: center;
}

.main-content__title {
    font-size: 45px;
    font-family: var(--accent-font);
}

.main-content__desc {
    font-size: 18px;
    line-height: 1.556;
}

/*.. блок контента в секции*/

ul.block__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul li.block__item {
    max-width: 263px;
}

ul li .block__order {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li .block__info {
    text-align: left;
}

ul li p.quantity {
    margin-bottom: 16px;
}

ul li .block__btn {
    width: 130px;
    height: 50px;
    font-size: 16px;
    padding: 17px;
}

footer.footer {
    background-color: var(--bg-footer-color);
}

/* .. общие настройки*/

/* === <!--первый экран--> === */
header.header {
    padding-bottom: 108px;
    color: var(--light-text-color);
}

/*<!--шапка сайта-->*/
header .topline {
    padding: 36px 0 30px 0;
}

/*навигация по сайту*/
nav.nav {
    margin-right: 220px;
}

ul.nav__list {
    column-gap: 40px;
}

ul.nav__list li.nav__item a {
    font-size: 14px;
    font-weight: 500;
    color: var(--ui-elements-color);
}

ul.nav__list li.nav__item a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    margin-top: 1px;
    background-color: var(--ui-elements-color);

    transition: var(--hover-transition);
}

ul.nav__list li.nav__item a:hover {
    text-shadow: 0.5px 0 0.5px var(--ui-elements-color);
}

ul.nav__list li.nav__item a:hover:after {
    width: 100%;
}

/* .. навигация по сайту*/

.phone .phone__link {
    font-size: 16px;
    color: var(--light-text-color);
    font-weight: 700;

    transition: var(--hover-transition);
}

.phone .phone__link:hover {
    text-shadow: 0.5px 0 0.5px var(--light-text-color);
}

/*основной контент секции хедер*/
header {
    overflow: hidden;
}

header .header-content {
    font-family: var(--accent-font);
    margin-top: 126px;
    align-items: flex-start;
}

header .header-content__offer {
    max-width: 585px;
    position: relative;
    z-index: 5;
}

header .header-content__title {
    font-size: 55px;
    line-height: 1.091;
    margin-bottom: 60px;
}

header .header-content__desc {
    max-width: 350px;
    font-size: 18px;
    line-height: 1.389;
    margin-bottom: 80px;
}

header .header-content__btn {
    width: 240px;
    height: 60px;
}

.header-content__image {
    position: relative;
}

.header-content__image img {
    position: relative;
    z-index: 5;
}

.header-content__decor_big, .header-content__decor_small {
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    border: 1px solid var(--ui-elements-color);
    border-radius: 50%;


}

.header-content__decor_small {
    width: 340px;
    height: 340px;
    top: calc(50% - 340px / 2);
    left: calc(50% - 340px / 2);
    animation: pulse-inner 2.5s 0.5s infinite;
}

.header-content__decor_big {
    width: 355px;
    height: 355px;
    top: calc(50% - 355px / 2);
    left: calc(50% - 355px / 2);
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes pulse-inner {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

/* .. основной контент секции хедер*/
/* .. <!--шапка сайта-->*/
/* .. === <!--первый экран--> ===*/

/* === <!--секция "о нас"--> ===*/
.about .about-content__offer {
    max-width: 475px;
}

.about .about-content {
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 88px;
}

.about .about-content__title {
    line-height: 1.222;
    margin-bottom: 60px;
}

.about .about-content__desc {
    max-width: 400px;
}

ul li .block__digit {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--ui-elements-color);
    font-size: 60px;
    font-weight: 800;
    color: var(--light-text-color);
    text-align: center;
    line-height: 99px;
    margin-bottom: 14px;

    transition: var(--hover-transition);
}

ul li .block__digit:hover {
    background-color: var(--ui-light-elements-color);
    color: var(--ui-elements-color);
}

.about .about-block__list {
    column-gap: 20px;
}

ul li .about-block__title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 19px;
}

ul li .about-block__desc {
    width: 220px;
    font-weight: 500;
    line-height: 1.333;
}

/* .. === <!--секция "о нас"--> ===*/

/* === <!--секция "пироженки"--> ===*/
h2.products__title {
    color: var(--light-text-color);
    text-align: center;
    margin-bottom: 87px;
}

ul li.products-block__item {
    width: 263px;
    border: 2px solid var(--light-text-color);
    border-radius: 20px;
    padding: 109px 20px 27px 20px;
    position: relative;
    text-align: center;
    color: var(--light-text-color);
}

ul li.products-block__item:hover .products-block__image img {
    transform: scale(1.1);
}

ul li .products-block__image {
    width: 192px;
    height: 124px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30%;
}

ul li .products-block__image img {
    position: absolute;
    bottom: 0;
    left: 4px;
    transition: var(--hover-transition);
}

ul li .products-block__title {
    font-size: 18px;
    font-family: var(--accent-font);
    text-align: center;
    line-height: 1;
    margin-bottom: 26px;
}

/* .. === <!--секция "пироженки"--> ===*/

/* .. === <!--секция "оформить заказ"--> ===*/
section.order {
    padding: 98px 0 120px 0;
}

.order .order-content {
    position: relative;
    justify-content: flex-start;
    align-items: center;
    column-gap: 150px;
}

.order .order-content__image {
    margin-top: 75px;
}

.order .order-content__offer {
    max-width: 410px;
}

.order .order-content__title {
    margin-bottom: 41px;
}

.order .order-content__desc {
    margin-bottom: 48px;
}

/*форма заказа*/
form .order-form__choice {
    margin-bottom: 40px;
}

form .order-form__label {
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(18, 10, 6);
    font-weight: 700;
}

form input, form .order-form__btn {
    width: 294px;
    height: 60px;
}

form input {
    border: 1px solid var(--ui-elements-color);
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 20px 25px;
    color: var(--ui-elements-color);
    font-weight: 700;
    font-size: 17px;
}

form input::placeholder {
    color: var(--ui-elements-color);
    font-size: 15px;
}

.top-input {
    margin-bottom: 0;
}
.order .order-decor__big, .order .order-decor__small {
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.order .order-decor__big {
    position: absolute;
    top: 70px;
    left: -45px;
    animation-name: upDownBg;
}

.order .order-decor__small {
    position: absolute;
    bottom: 75px;
    right: 160px;
    animation-name: upDownSm;
    animation-delay: 0.5s;
}

@keyframes upDownBg {
    0% {
        top: 70px;
    }
    50% {
        top: 40px;
    }
    100% {
        top: 70px;
    }
}

@keyframes upDownSm {
    0% {
        bottom: 75px;
    }
    50% {
        bottom: 105px;
    }
    100% {
        bottom: 75px;
    }
}

/* .. форма заказа*/
/* .. === <!--секция "оформить заказ"--> ===*/

/* === <!--подвал сайта / футер-- ===*/
footer.footer {
    padding: 80px 0 77px 0;
}
footer .footer__credits {
    margin-top: 10px;
}
footer .footer__rights {
    margin-top: 15px;
    font-size: 12px;
    color: var(--ui-light-elements-color);
    text-align: left;
    line-height: 1;
}
footer a.footer__soc1al {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--light-text-color);
    font-weight: 700;
    opacity: 0.8;
    transition: var(--hover-transition);
}
footer a.footer__soc1al:hover {
    opacity: 1;
}
/* .. === <!--подвал сайта / футер-- ===*/

/* === <!--всплывающий гифтбокс / акция--> === */
.giftbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}
.giftbox__wrap {
    display: flex;
    align-items: center;
}
.giftbox__bubble {
    position: absolute;
    top: calc(50% - 32px);
    right: 98px;
    width: 184px;
    display: none;

    animation: bubble-disappear 0.6s linear;
}

.giftbox__bubble span {
    position: absolute;
    top: 14px;
    left: 12px;
    width: 152px;
    font-family: var(--main-font);
    color: var(--ui-elements-color);
    line-height: 1.333;
}

.giftbox__image {
    border-radius: 50%;
    background: radial-gradient(#71081e 0%, #d7485c 100%);
    padding: 20px 18px 18px 19px;
    width: 90px;
    height: 90px;

    transition: var(--hover-transition);
}

.giftbox:hover .giftbox__image {
    box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);

}

.giftbox:hover .giftbox__bubble {
    display: block;
    animation: bubble-appear 0.5s linear;
}

@keyframes bubble-appear {
    0% {
        opacity: 0;
        top: 90px;
    }

    100% {
        opacity: 1;
        top: calc(50% - 32px);
    }
}

@keyframes bubble-disappear {
    0% {
        display: block;
        opacity: 1;
        top: calc(50% - 32px);
    }

    100% {
        opacity: 0;
        top: 90px;
    }
}


/*.giftbox {*/
/*    justify-content: center;*/
/*    column-gap: 9px;*/
/*}*/

/*.giftbox__bubble {*/
/*    position: relative;*/
/*    transition: var(--hover-transition);*/

/*    animation-name: bubble-disappear;*/
/*    animation-duration: 0.5s;*/
/*    animation-timing-function: linear;*/
/*}*/

/*.giftbox__text {*/
/*    position: absolute;*/
/*    width: 152px;*/
/*    top: 13px;*/
/*    left: 17px;*/
/*    font-weight: 500;*/
/*    color: var(--ui-elements-color);*/
/*    line-height: 1.333;*/
/*}*/
/*.giftbox__btn {*/
/*    position: relative;*/
/*    border-radius: 50%;*/
/*    width: 90px;*/
/*    height: 90px;*/
/*    background: radial-gradient(circle at center, #71081e 0, #d7485c 100%);*/

/*    transition: var(--hover-transition);*/
/*}*/
/*.giftbox__btn img {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/
/*.giftbox__btn:hover {*/
/*    box-shadow: 0px 0px 12.6px 2.4px rgba(130, 19, 40, 0.5);*/
/*}*/

/*.giftbox:hover .giftbox__bubble {*/
/*    display: block;*/
/*    animation-name: bubble-appear;*/
/*    animation-duration: 0.5s;*/
/*    animation-timing-function: linear;*/
/*}*/

/*@keyframes bubble-appear {*/
/*    0% {*/
/*        opacity: 0;*/
/*        top: 90px;*/
/*    }*/

/*    100% {*/
/*        opacity: 1;*/
/*        top: calc(50% - 32px);*/
/*    }*/
/*}*/

/*@keyframes bubble-disappear {*/
/*    0% {*/
/*        display: block;*/
/*        opacity: 1;*/
/*        top: calc(50% - 32px);*/
/*    }*/

/*    100% {*/
/*        opacity: 0;*/
/*        top: 90px;*/
/*    }*/
/*}*/

/* .. === <!--всплывающий гифтбокс / акция--> === */











