@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1250px) {
    .order .order-decor__big {
        left: 0px;
    }
}

@media screen and (max-width: 1175px) {
    h2.products__title {
        margin-bottom: 143px;
    }

    ul.product-block__list {
        justify-content: center;
        row-gap: 136px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1100px) {
    .order .order-decor__small {
        right: 100px;
    }
}

@media screen and (max-width: 1050px) {
    .order .order-decor__small {
        right: 20px;
    }
}

@media screen and (max-width: 1020px) {
    header.header {
        padding-bottom: 0;
    }
    header .header-content {
        flex-direction: column;
    }
    .header-content__image {
        right: -40%;
        bottom: 150px;
    }
}

@media screen and (max-width: 940px) {
    .header-content__image {
        right: -30%;
    }
}

@media screen and (max-width: 970px) {
    .about .about-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
    }
    .about .about-content__offer {
        text-align: center;
    }
    .about .about-content__offer {
        max-width: 100%;
    }
    .about .about-content__title {
        max-width: 475px;
        margin: 0 auto 60px auto;
    }
    .about .about-content__desc {
        max-width: 670px;
    }

    .about .about-content__image {
        max-width: 320px;
    }
    .about .about-block__list {
        row-gap: 80px;
        justify-content: center;
        column-gap: 60px;
        text-align: center;
    }

    ul li .block__digit {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 920px) {
    section.order {
        padding-top: 120px;
    }

    .order .order-content {
        justify-content: center;
        align-items: flex-end;
        column-gap: 0px;
    }

    .order .order-content__image {
        order: 2;
        margin-bottom: -40px;
        margin-top: 0;
    }
    .order .order-content__offer {
        order: 1;
    }

    .order .order-decor__small {
        right: 20px;
        bottom: 450px;
    }
    @keyframes upDownSm {
        0% {
            bottom: 450px;
        }
        50% {
            bottom: 480px;
        }
        100% {
            bottom: 450px;
        }
    }


    .order .order-decor__big {
        left: 450px;
        top: 140px;
    }
    @keyframes upDownBg {
        0% {
            top: 140px;
        }
        50% {
            top: 110px;
        }
        100% {
            top: 140px;
        }
    }

}

@media screen and (max-width: 810px) {
    .container {
        padding: 0 20px;
    }

    .topline__phone {
        display: none;
    }

    header .header-content__title {
        margin-bottom: 74px;
    }

    header .header-content__desc {
        margin-bottom: 41px;
    }
    .header-content__image {
        right: -25%;
        bottom: 90px;
    }

    .giftbox {
        display: none;
    }
}

@media screen and (max-width: 790px) {
    .order .order-decor__big {
        left: 340px;
        top: 230px;
    }

    .order .order-decor__small {
        bottom: 400px;
        right: 100px;
    }

    @keyframes upDownBg {
        0% {
            top: 230px;
        }
        50% {
            top: 200px;
        }
        100% {
            top: 230px;
        }
    }

    @keyframes upDownSm {
        0% {
            bottom: 400px;
        }
        50% {
            bottom: 430px;
        }
        100% {
            bottom: 400px;
        }
    }
}

@media screen and (max-width: 750px) {
    .order .order-decor__big img {
        max-width: 80%;
    }
    .order .order-decor__small {
        display: none;
    }
}

@media screen and (max-width: 695px) {
    .order .order-decor__big {
        left: 317px;
        top: 141px;
        animation: none;
    }
}

@media screen and (max-width: 375px) {
    .container {
        padding: 0 15px;
    }
}


